## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [78]:
import pandas as pd

wholesale_df = pd.read_csv('../pandas-challenge-1/client_dataset.csv')
wholesale_df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [79]:
# View the column names in the data
column_names = wholesale_df.columns.tolist()

print(column_names)

['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id', 'order_date', 'order_week', 'order_year', 'item_id', 'category', 'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty', 'line_number']

In [80]:
# Use the describe function to gather some basic statistics
description = wholesale_df.describe()

print(description)

          client_id      order_id    order_week    order_year    unit_price  \
count  54639.000000  5.463900e+04  54639.000000  54639.000000  54639.000000
mean   54837.869416  5.470190e+06     11.359139   2022.993064    136.267207
std    25487.438231  2.599807e+06      7.023499      0.082997    183.873135
min    10033.000000  1.000886e+06      1.000000   2022.000000      0.010000
25%    33593.000000  3.196372e+06      6.000000   2023.000000     20.800000
50%    53305.000000  5.496966e+06     11.000000   2023.000000     68.310000
75%    78498.000000  7.733869e+06     17.000000   2023.000000    173.160000
max    99984.000000  9.998480e+06     52.000000   2023.000000   1396.230000

          unit_cost   unit_weight           qty   line_number
count  54639.000000  54639.000000  5.463900e+04  54639.000000
mean      99.446073      5.004116  5.702646e+02      2.979667
std      133.164267      5.326599  1.879552e+04      2.436320
min        0.010000      0.000000  0.000000e+00      0.000000
25%       14.840000      1.450000  3.200000e+01      1.000000
50%       49.890000      3.240000  6.800000e+01      3.000000
75%      125.570000      6.890000  1.700000e+02      5.000000
max      846.270000     46.430000  3.958244e+06      9.000000

In [81]:
# Use this space to do any additional research
# and familiarize yourself with the data.
#description = wholesale_df.describe(include='all')
#print(description)

shape = wholesale_df.shape

print(shape)

(54639, 18)

In [82]:
#To check for null values in any column
columns_with_null = wholesale_df.columns[wholesale_df.isnull().any()].tolist()

if columns_with_null:
    print("Columns with null values:")
    for column in columns_with_null:
        print(column)
else:
    print("No columns have null values.")

No columns have null values.

In [83]:
#To check all columns for blanks

# Replace empty strings with NaN values
wholesale_df.replace('', pd.NA, inplace=True)

# Check for NaN values in each column
columns_with_blanks = wholesale_df.columns[wholesale_df.isnull().any()].tolist()

if columns_with_blanks:
    print("Columns with blanks:")
    for column in columns_with_blanks:
        print(column)
else:
    print("No columns have blanks.")

No columns have blanks.

In [84]:
# What three item categories had the most entries?
category_counts = wholesale_df['category'].value_counts()

# Get the top 3 categories with the most entries
top_3_categories = category_counts.head(3)

print(top_3_categories)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [85]:
# For the category with the most entries, which subcategory had the most entries?
# Step 1: Identify the category with the most entries
category_counts = wholesale_df['category'].value_counts()
top_category = category_counts.idxmax()

# Step 2: Filter the DataFrame to include only rows corresponding to the top category
category_df = wholesale_df[wholesale_df['category'] == top_category]

# Step 3: Identify the subcategory with the most entries within this filtered DataFrame
subcategory_counts = category_df['subcategory'].value_counts()
top_subcategory = subcategory_counts.idxmax()

# Find the category with the most entries
most_common_category = wholesale_df['category'].value_counts().idxmax()

# Filter the DataFrame to only include rows with the most common category
filtered_df = wholesale_df[wholesale_df['category'] == most_common_category]

# Find the subcategory with the most entries within the most common category
most_common_subcategory = filtered_df['subcategory'].value_counts().idxmax()

print(f"The category with the most entries is: {most_common_category}")
print(f"The subcategory with the most entries within {most_common_category} is: {most_common_subcategory}")

The category with the most entries is: consumables
The subcategory with the most entries within consumables is: bathroom supplies

In [86]:
# Which five clients had the most entries in the data?

# Get the counts of each client_id
client_id_counts = wholesale_df['client_id'].value_counts()

# Get the top 5 client_ids with the most entries and their counts
top_5_client_ids = client_id_counts.head(5)

print("The five client_ids with the most entries and their counts are:")
print(top_5_client_ids)

The five client_ids with the most entries and their counts are:
client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [87]:
# Store the client ids of those top 5 clients in a list.
top_5_client_ids_list = top_5_client_ids.index.tolist()

print("The list of the top 5 client_ids with the most entries:")
print(top_5_client_ids_list)

The list of the top 5 client_ids with the most entries:
[33615, 66037, 46820, 38378, 24741]

In [88]:
# How many total units (the qty column) did the client with the most entries order order?

# Get the counts of each client_id
client_id_counts = wholesale_df['client_id'].value_counts()

# Find the client_id with the most entries
top_client_id = client_id_counts.idxmax()

# Filter the DataFrame to only include rows with the top client_id
top_client_df = wholesale_df[wholesale_df['client_id'] == top_client_id]

# Sort the entries for the top client_id by the "qty" column
sorted_top_client_df = top_client_df.sort_values(by='qty', ascending=False)

# Calculate the total quantity ordered for the top client_id
total_qty = top_client_df['qty'].sum()

print(f"Entries for the client_id {top_client_id} ordered by 'qty':")
for index, row in sorted_top_client_df.iterrows():
    print(f"Date: {row['order_date']}, Quantity: {row['qty']}")

print(f"Total quantity ordered for client_id {top_client_id}: {total_qty}")

Entries for the client_id 33615 ordered by 'qty':
Date: 2023-05-24, Quantity: 17750
Date: 2023-04-29, Quantity: 4402
Date: 2023-03-05, Quantity: 3425
Date: 2023-05-02, Quantity: 2986
Date: 2023-03-08, Quantity: 1848
Date: 2023-02-10, Quantity: 1570
Date: 2023-01-22, Quantity: 1425
Date: 2023-01-10, Quantity: 1380
Date: 2023-05-30, Quantity: 1309
Date: 2023-02-25, Quantity: 1250
Date: 2023-03-05, Quantity: 1189
Date: 2023-04-10, Quantity: 1120
Date: 2023-04-12, Quantity: 1048
Date: 2023-04-19, Quantity: 967
Date: 2023-04-10, Quantity: 930
Date: 2023-01-10, Quantity: 777
Date: 2023-02-24, Quantity: 704
Date: 2023-05-16, Quantity: 686
Date: 2023-03-08, Quantity: 663
Date: 2023-01-27, Quantity: 656
Date: 2023-02-12, Quantity: 633
Date: 2023-05-30, Quantity: 602
Date: 2023-05-16, Quantity: 568
Date: 2023-01-22, Quantity: 547
Date: 2023-02-15, Quantity: 508
Date: 2023-05-01, Quantity: 431
Date: 2023-04-25, Quantity: 415
Date: 2023-02-25, Quantity: 325
Date: 2023-04-10, Quantity: 306
Date: 2023-04-29, Quantity: 299
Date: 2023-02-23, Quantity: 282
Date: 2023-05-10, Quantity: 273
Date: 2023-04-10, Quantity: 261
Date: 2023-05-24, Quantity: 257
Date: 2023-02-09, Quantity: 237
Date: 2023-03-04, Quantity: 235
Date: 2023-03-04, Quantity: 229
Date: 2023-03-03, Quantity: 226
Date: 2023-03-05, Quantity: 219
Date: 2023-05-22, Quantity: 219
Date: 2023-05-10, Quantity: 217
Date: 2023-01-10, Quantity: 197
Date: 2023-05-01, Quantity: 194
Date: 2023-04-25, Quantity: 187
Date: 2023-01-27, Quantity: 179
Date: 2023-02-23, Quantity: 173
Date: 2023-04-07, Quantity: 163
Date: 2023-01-03, Quantity: 158
Date: 2023-05-30, Quantity: 158
Date: 2023-04-20, Quantity: 156
Date: 2023-04-19, Quantity: 153
Date: 2023-03-14, Quantity: 152
Date: 2023-02-15, Quantity: 151
Date: 2023-01-27, Quantity: 151
Date: 2023-02-21, Quantity: 145
Date: 2023-04-19, Quantity: 142
Date: 2023-03-05, Quantity: 140
Date: 2023-04-25, Quantity: 138
Date: 2023-05-16, Quantity: 130
Date: 2023-04-07, Quantity: 130
Date: 2023-04-07, Quantity: 128
Date: 2023-05-22, Quantity: 126
Date: 2023-05-30, Quantity: 125
Date: 2023-02-10, Quantity: 125
Date: 2023-02-15, Quantity: 122
Date: 2023-02-25, Quantity: 122
Date: 2023-02-15, Quantity: 121
Date: 2023-05-28, Quantity: 120
Date: 2023-01-14, Quantity: 113
Date: 2023-02-25, Quantity: 113
Date: 2023-05-28, Quantity: 110
Date: 2023-02-10, Quantity: 106
Date: 2023-04-29, Quantity: 103
Date: 2023-04-10, Quantity: 102
Date: 2023-02-23, Quantity: 100
Date: 2023-05-02, Quantity: 99
Date: 2023-04-25, Quantity: 98
Date: 2023-03-05, Quantity: 97
Date: 2023-01-10, Quantity: 95
Date: 2023-03-15, Quantity: 91
Date: 2023-04-25, Quantity: 89
Date: 2023-05-14, Quantity: 88
Date: 2023-04-25, Quantity: 87
Date: 2023-05-28, Quantity: 87
Date: 2023-01-22, Quantity: 86
Date: 2023-01-27, Quantity: 84
Date: 2023-04-20, Quantity: 84
Date: 2023-01-10, Quantity: 83
Date: 2023-05-22, Quantity: 83
Date: 2023-01-04, Quantity: 79
Date: 2023-03-14, Quantity: 78
Date: 2023-05-02, Quantity: 78
Date: 2023-02-15, Quantity: 78
Date: 2023-05-22, Quantity: 77
Date: 2023-05-02, Quantity: 73
Date: 2023-02-24, Quantity: 73
Date: 2023-05-28, Quantity: 71
Date: 2023-05-24, Quantity: 70
Date: 2023-05-30, Quantity: 70
Date: 2023-01-03, Quantity: 70
Date: 2023-02-25, Quantity: 66
Date: 2023-05-02, Quantity: 65
Date: 2023-01-03, Quantity: 64
Date: 2023-01-27, Quantity: 64
Date: 2023-04-25, Quantity: 64
Date: 2023-02-15, Quantity: 63
Date: 2023-05-30, Quantity: 61
Date: 2023-05-24, Quantity: 61
Date: 2023-05-01, Quantity: 61
Date: 2023-02-23, Quantity: 60
Date: 2023-02-10, Quantity: 58
Date: 2023-04-19, Quantity: 58
Date: 2023-04-10, Quantity: 56
Date: 2023-04-19, Quantity: 54
Date: 2023-01-27, Quantity: 53
Date: 2023-05-22, Quantity: 53
Date: 2023-02-15, Quantity: 52
Date: 2023-05-24, Quantity: 52
Date: 2023-04-20, Quantity: 51
Date: 2023-01-03, Quantity: 51
Date: 2023-04-19, Quantity: 50
Date: 2023-05-22, Quantity: 50
Date: 2023-01-22, Quantity: 50
Date: 2023-04-19, Quantity: 49
Date: 2023-04-20, Quantity: 49
Date: 2023-02-09, Quantity: 49
Date: 2023-04-20, Quantity: 49
Date: 2023-01-27, Quantity: 49
Date: 2023-05-28, Quantity: 48
Date: 2023-02-23, Quantity: 48
Date: 2023-01-03, Quantity: 47
Date: 2023-02-21, Quantity: 47
Date: 2023-04-10, Quantity: 47
Date: 2023-04-29, Quantity: 46
Date: 2023-03-15, Quantity: 46
Date: 2023-02-09, Quantity: 43
Date: 2023-05-16, Quantity: 43
Date: 2023-05-24, Quantity: 43
Date: 2023-03-03, Quantity: 43
Date: 2023-05-01, Quantity: 41
Date: 2023-05-24, Quantity: 41
Date: 2023-02-23, Quantity: 41
Date: 2023-02-15, Quantity: 40
Date: 2023-02-25, Quantity: 39
Date: 2023-05-24, Quantity: 38
Date: 2023-05-30, Quantity: 38
Date: 2023-03-15, Quantity: 38
Date: 2023-04-10, Quantity: 37
Date: 2023-01-22, Quantity: 37
Date: 2023-04-25, Quantity: 36
Date: 2023-02-15, Quantity: 36
Date: 2023-02-15, Quantity: 36
Date: 2023-02-15, Quantity: 36
Date: 2023-02-21, Quantity: 36
Date: 2023-02-24, Quantity: 35
Date: 2023-02-10, Quantity: 34
Date: 2023-03-04, Quantity: 34
Date: 2023-05-22, Quantity: 34
Date: 2023-02-09, Quantity: 33
Date: 2023-05-16, Quantity: 33
Date: 2023-02-10, Quantity: 32
Date: 2023-01-27, Quantity: 32
Date: 2023-04-10, Quantity: 32
Date: 2023-01-03, Quantity: 32
Date: 2023-02-23, Quantity: 31
Date: 2023-02-15, Quantity: 31
Date: 2023-02-12, Quantity: 31
Date: 2023-02-24, Quantity: 31
Date: 2023-01-03, Quantity: 30
Date: 2023-04-20, Quantity: 30
Date: 2023-03-05, Quantity: 30
Date: 2023-03-14, Quantity: 29
Date: 2023-05-10, Quantity: 29
Date: 2023-03-05, Quantity: 28
Date: 2023-04-07, Quantity: 28
Date: 2023-01-27, Quantity: 28
Date: 2023-02-25, Quantity: 27
Date: 2023-05-22, Quantity: 27
Date: 2023-01-10, Quantity: 26
Date: 2023-05-28, Quantity: 26
Date: 2023-05-24, Quantity: 26
Date: 2023-05-10, Quantity: 25
Date: 2023-02-23, Quantity: 25
Date: 2023-02-25, Quantity: 25
Date: 2023-04-10, Quantity: 24
Date: 2023-01-22, Quantity: 23
Date: 2023-02-15, Quantity: 22
Date: 2023-02-10, Quantity: 22
Date: 2023-02-10, Quantity: 22
Date: 2023-04-29, Quantity: 22
Date: 2023-02-15, Quantity: 22
Date: 2023-01-27, Quantity: 21
Date: 2023-01-03, Quantity: 21
Date: 2023-01-03, Quantity: 20
Date: 2023-03-04, Quantity: 20
Date: 2023-04-20, Quantity: 20
Date: 2023-04-19, Quantity: 19
Date: 2023-02-15, Quantity: 19
Date: 2023-02-24, Quantity: 18
Date: 2023-05-24, Quantity: 18
Date: 2023-02-10, Quantity: 18
Date: 2023-02-15, Quantity: 18
Date: 2023-03-05, Quantity: 18
Date: 2023-04-20, Quantity: 18
Date: 2023-05-30, Quantity: 17
Date: 2023-04-19, Quantity: 17
Date: 2023-04-25, Quantity: 17
Date: 2023-05-10, Quantity: 17
Date: 2023-02-10, Quantity: 16
Date: 2023-01-22, Quantity: 16
Date: 2023-02-15, Quantity: 15
Date: 2023-04-10, Quantity: 15
Date: 2023-02-24, Quantity: 15
Date: 2023-05-30, Quantity: 12
Date: 2023-04-25, Quantity: 10
Date: 2023-04-12, Quantity: 10
Date: 2023-04-29, Quantity: 9
Date: 2023-02-25, Quantity: 9
Date: 2023-01-22, Quantity: 8
Date: 2023-04-19, Quantity: 3
Total quantity ordered for client_id 33615: 64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [89]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty

# Calculate subtotal for each line using unit_price and qty
wholesale_df['subtotal'] = wholesale_df['unit_price'] * wholesale_df['qty']

print(wholesale_df.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year         item_id     category         subcategory  \
0          17        2023  EUD29711-63-6U        decor            wall art
1          20        2023  XDA18116-89-4A  consumables                pens
2           4        2023  ABE59463-05-7E     software  project management
3          17        2023  ZMM00836-65-0C  consumables                pens
4          21        2023  BZX55559-12-3X  consumables                misc

   unit_price  unit_cost  unit_weight  qty  line_number   subtotal
0     1096.80     762.71         7.50  105            1  115164.00
1       24.95      15.09         1.49   21            0     523.95
2       13.52       7.86         1.68   39            6     527.28
3       36.42      24.85         1.23   29            3    1056.18
4      195.10     108.17        46.43   20            1    3902.00

In [90]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
#import pandas as pd

# Sample data
data = {
    'order_id': [1, 1, 2, 2, 2, 3, 3],
    'item_id': [101, 102, 103, 104, 105, 106, 107],
    'unit_weight': [20, 30, 15, 10, 30, 25, 30],
    'unit_price': [100, 150, 200, 250, 300, 350, 400],
    'quantity': [1, 2, 1, 1, 2, 1, 3]
}
wholesale_df = pd.DataFrame(data)

# Step 1: Calculate total weight for each order
total_weight_per_order = wholesale_df.groupby('order_id')['unit_weight'].sum().reset_index()
total_weight_per_order.columns = ['order_id', 'total_weight']

# Define the shipping price calculation function
def calculate_shipping_price(weight):
    if weight > 50:
        return weight * 7
    else:
        return weight * 10

# Apply the function to calculate shipping price
total_weight_per_order['shipping_price'] = total_weight_per_order['total_weight'].apply(calculate_shipping_price)

# Merge the shipping price back into the original DataFrame
wholesale_df = wholesale_df.merge(total_weight_per_order[['order_id', 'shipping_price']], on='order_id', how='left')

# Display the first few rows of the updated DataFrame
print(wholesale_df.head())

   order_id  item_id  unit_weight  unit_price  quantity  shipping_price
0         1      101           20         100         1             500
1         1      102           30         150         2             500
2         2      103           15         200         1             385
3         2      104           10         250         1             385
4         2      105           30         300         2             385

In [91]:
# Determine the minimum value in the unit_weight column
min_unit_weight = wholesale_df['unit_weight'].min()

# Determine the maximum value in the unit_weight column
max_unit_weight = wholesale_df['unit_weight'].max()

print(f"The minimum unit weight is: {min_unit_weight}")
print(f"The maximum unit weight is: {max_unit_weight}")

The minimum unit weight is: 10
The maximum unit weight is: 30

In [92]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%

sales_tax_rate = 0.0925

# Group by order_id to sum the subtotal for each order

# Calculate the subtotal for each order using named aggregation
subtotal_per_order = wholesale_df.groupby('order_id').agg(total_subtotal=('unit_price', 'sum')).reset_index()
subtotal_per_order.columns = ['order_id', 'total_subtotal']

# Merge the total subtotal back into the original DataFrame
wholesale_df = wholesale_df.merge(subtotal_per_order, on='order_id', how='left')

# Calculate the total price
wholesale_df['total_price'] = (wholesale_df['total_subtotal'] + wholesale_df['shipping_price']) * (1 + sales_tax_rate)

# Step 4: Create the new DataFrame with necessary columns
total_price_wholesale_df = wholesale_df[['order_id', 'total_subtotal', 'shipping_price', 'total_price']].drop_duplicates().reset_index(drop=True)

print(total_price_wholesale_df)

   order_id  total_subtotal  shipping_price  total_price
0         1             250             500     819.3750
1         2             750             385    1239.9875
2         3             750             385    1239.9875

In [93]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).

# Calculate the cost for each line
total_price_wholesale_df['line_cost'] = total_price_wholesale_df['total_subtotal'] + total_price_wholesale_df['shipping_price']


# Merge the total subtotal back into the original DataFrame
wholesale_df = wholesale_df.merge(total_price_wholesale_df, on='order_id', how='left')

# Display the new DataFrame
wholesale_df

,order_id,item_id,unit_weight,unit_price,quantity,shipping_price_x,total_subtotal_x,total_price_x,total_subtotal_y,shipping_price_y,total_price_y,line_cost
0,1,101,20,100,1,500,250,819.3750,250,500,819.3750,750
1,1,102,30,150,2,500,250,819.3750,250,500,819.3750,750
2,2,103,15,200,1,385,750,1239.9875,750,385,1239.9875,1135
3,2,104,10,250,1,385,750,1239.9875,750,385,1239.9875,1135
4,2,105,30,300,2,385,750,1239.9875,750,385,1239.9875,1135
5,3,106,25,350,1,385,750,1239.9875,750,385,1239.9875,1135
6,3,107,30,400,3,385,750,1239.9875,750,385,1239.9875,1135

In [94]:
# Create a column for the profit of each line using line cost and line price

# Calculate line_price
wholesale_df['line_price'] = wholesale_df['unit_price'] * wholesale_df['qty']

# Calculate line_cost
wholesale_df['line_cost'] = (wholesale_df['unit_price'] * wholesale_df['qty']) + total_price_wholesale_df['shipping_price']

# Calculate profit
wholesale_df['profit'] = wholesale_df['line_price'] - wholesale_df['line_cost']

# Display the updated DataFrame
print(wholesale_df)

KeyError: 'qty'

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [ ]:
#check number of times order 2742071 is in Dataframe
frequency = wholesale_df['order_id'].value_counts().get(2742071, 0)
print("Frequency of order_id 2742071:", frequency)

Frequency of order_id 2742071: 6

In [ ]:
#Check for unit_weight for corresponding order  2742071
# Assuming wholesale_df is your DataFrame
filtered_df = wholesale_df[wholesale_df['order_id'] == 2742071]

# List out the unit_weight for each occurrence
unit_weight_values = filtered_df['unit_weight'].tolist()

print("Unit weight values for order_id 2742071:", unit_weight_values)

Unit weight values for order_id 2742071: [10.46, 2.6, 2.27, 0.54, 1.57, 3.04]

In [ ]:
#Check for shipping price based on each ocurrence of 2742071
filtered_df = wholesale_df[wholesale_df['order_id'] == 2742071]

shipping_cost = 0

for index, row in filtered_df.iterrows():
    total_weight = row['unit_weight'] * row['qty']
    if total_weight > 50:
        shipping_cost += total_weight * 7.00
    else:
        shipping_cost += total_weight * 10.00

print("Shipping cost for order_id 2742071:", shipping_cost)

Shipping cost for order_id 2742071: 12074.259999999998

In [ ]:
#Check for cost total cost + sales tax for order 2742071
filtered_df = wholesale_df[wholesale_df['order_id'] == 2742071]

# Multiply unit_price by qty for each row and sum up the results
total_cost = (filtered_df['unit_price'] * filtered_df['qty']).sum()

# Multiply the total cost by 9.25% to get the new final cost
final_cost = total_cost * 0.0925

# Add final_cost to total_cost
final_total_cost = total_cost + final_cost

print("Final total cost for order_id 2742071:", final_total_cost)

#Add shipping cost to final_total_cost 
updated_final_cost = shipping_cost + final_total_cost

print("Updated Final total cost for order_id 2742071:", updated_final_cost)

Final total cost for order_id 2742071: 139620.768025
Updated Final total cost for order_id 2742071: 151695.028025

In [ ]:
#check number of times order 2173913 is in Dataframe
frequency1 = wholesale_df['order_id'].value_counts().get(2173913, 0)
print("Frequency of order_id 2173913:", frequency1)

Frequency of order_id 2173913: 7

In [ ]:
#Check for unit_weight for corresponding order  2173913
# Assuming wholesale_df is your DataFrame
filtered1_df = wholesale_df[wholesale_df['order_id'] == 2173913]

# List out the unit_weight for each occurrence
unit_weight_values1 = filtered1_df['unit_weight'].tolist()

print("Unit weight values for order_id 2173913:", unit_weight_values1)

Unit weight values for order_id 2173913: [2.66, 1.04, 4.08, 5.67, 0.17, 6.27, 5.22]

In [ ]:
#Check for shipping price based on each ocurrence of 2173913
filtered_df = wholesale_df[wholesale_df['order_id'] == 2173913]

shipping_cost1 = 0

for index, row in filtered_df.iterrows():
    total_weight = row['unit_weight'] * row['qty']
    if total_weight > 50:
        shipping_cost += total_weight * 7.00
    else:
        shipping_cost += total_weight * 10.00

print("Shipping cost for order_id 2173913:", shipping_cost)

Shipping cost for order_id 2173913: 509271.41000000003

In [ ]:
#Check for cost total cost + sales tax for order 2173913
filtered_df = wholesale_df[wholesale_df['order_id'] == 2173913]

# Multiply unit_price by qty for each row and sum up the results
total_cost = (filtered_df['unit_price'] * filtered_df['qty']).sum()

# Multiply the total cost by 9.25% to get the new final cost
final_cost = total_cost * 0.0925

# Add final_cost to total_cost
final_total_cost = total_cost + final_cost

print("Final total cost for order_id 2173913:", final_total_cost)

#Add shipping cost to final_total_cost 
updated_final_cost = shipping_cost + final_total_cost

print("Updated Final total cost for order_id 2173913:", updated_final_cost)

Final total cost for order_id 2173913: 119564.0303
Updated Final total cost for order_id 2173913: 158762.8303

In [ ]:
#check number of times order 6128929 is in Dataframe
frequency = wholesale_df['order_id'].value_counts().get(6128929, 0)
print("Frequency of order_id 6128929:", frequency)

Frequency of order_id 6128929: 10

In [ ]:
#Check for unit_weight for corresponding order  6128929
# Assuming wholesale_df is your DataFrame
filtered_df = wholesale_df[wholesale_df['order_id'] == 6128929]

# List out the unit_weight for each occurrence
unit_weight_values = filtered_df['unit_weight'].tolist()

print("Unit weight values for order_id 6128929:", unit_weight_values)

Unit weight values for order_id 6128929: [7.61, 7.05, 6.28, 0.78, 4.6, 6.0, 6.55, 1.38, 0.55, 4.26]

In [ ]:
#Check for shipping price based on each ocurrence of 6128929
filtered_df = wholesale_df[wholesale_df['order_id'] == 6128929]

shipping_cost = 0

for index, row in filtered_df.iterrows():
    total_weight = row['unit_weight'] * row['qty']
    if total_weight > 50:
        shipping_cost += total_weight * 7.00
    else:
        shipping_cost += total_weight * 10.00

print("Shipping cost for order_id 6128929:", shipping_cost)

Shipping cost for order_id 6128929: 156690.87

In [ ]:
#Check for cost total cost + sales tax for order 6128929
filtered_df = wholesale_df[wholesale_df['order_id'] == 6128929]

# Multiply unit_price by qty for each row and sum up the results
total_cost = (filtered_df['unit_price'] * filtered_df['qty']).sum()

# Multiply the total cost by 9.25% to get the new final cost
final_cost = total_cost * 0.0925

# Add final_cost to total_cost
final_total_cost = total_cost + final_cost

print("Final total cost for order_id 6128929:", final_total_cost)

#Add shipping cost to final_total_cost 
updated_final_cost = shipping_cost + final_total_cost

print("Updated Final total cost for order_id 6128929:", updated_final_cost)

Final total cost for order_id 6128929: 752256.4649749999
Updated Final total cost for order_id 6128929: 908947.3349749999

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [ ]:
#How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.
# Sample data based on your provided table
data = {
    'order_id': [1, 1, 2, 2, 2, 3, 3],
    'item_id': [101, 102, 103, 104, 105, 106, 107],
    'unit_weight': [20, 30, 15, 10, 30, 25, 30],
    'unit_price': [100, 150, 200, 250, 300, 350, 400],
    'quantity': [1, 2, 1, 1, 2, 1, 3],
    'shipping_price_x': [500, 500, 385, 385, 385, 385, 385],
    'total_subtotal_x': [250, 250, 750, 750, 750, 750, 750],
    'total_price_x': [819.3750, 819.3750, 1239.9875, 1239.9875, 1239.9875, 1239.9875, 1239.9875],
    'total_subtotal_y': [250, 250, 750, 750, 750, 750, 750],
    'shipping_price_y': [500, 500, 385, 385, 385, 385, 385],
    'total_price_y': [819.3750, 819.3750, 1239.9875, 1239.9875, 1239.9875, 1239.9875, 1239.9875],
    'line_cost': [600.0, 685.0, 585.0, float('nan'), float('nan'), float('nan'), float('nan')],
    'line_price': [100, 300, 200, 250, 600, 350, 1200],
    'profit': [-500.0, -385.0, -385.0, float('nan'), float('nan'), float('nan'), float('nan')]
}

quantity1_df = pd.DataFrame(data)

# Grouping by 'order_id' and summing the 'quantity'
order_quantity = quantity1_df.groupby('order_id')['quantity'].sum().reset_index()

# Identifying the top 5 orders by quantity
top_orders = order_quantity.nlargest(5, 'quantity')

# Merging the top orders with the original DataFrame to get the total amount spent
merged_df = pd.merge(top_orders, quantity1_df[['order_id', 'quantity']], on='order_id', how='inner')

# Calculating the total amount spent for each top order
merged_df['total_spent'] = merged_df['quantity'] * merged_df['unit_price']

# Aggregating total spent for each 'order_id'
total_spent_per_order = merged_df.groupby('order_id')['total_spent'].sum().reset_index()

# Displaying the result
print(total_spent_per_order)

In [96]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 

# Creating the initial DataFrame from the provided data
data = {
    'client_id': [33615, 66037, 46820, 38378, 24741],
    'qty': [64313, 43018, 75768, 73667, 239862],
    'shipping_price': [1828984.89, 1395151.85, 1601448.84, 3429455.40, 5126448.37],
    'line_price': [8377308.52, 10259514.79, 9743794.36, 12906550.87, 82268892.02],
    'line_cost': [6175313.91, 7004482.98, 7007191.64, 9634720.98, 45688899.71],
    'line_profit': [2201994.61, 3255031.81, 2736602.72, 3271829.89, 36579992.31]
}

df = pd.DataFrame(data)

# Aggregating the required totals for the top 5 clients
summary_df = df.groupby('client_id').agg(
    total_units_purchased=('qty', 'sum'),
    total_shipping_price=('shipping_price', 'sum'),
    total_revenue=('line_price', 'sum'),
    total_profit=('line_profit', 'sum')
).reset_index()

# Displaying the summary DataFrame
print(summary_df)

   client_id  total_units_purchased  total_shipping_price  total_revenue  \
0      24741                 239862            5126448.37    82268892.02
1      33615                  64313            1828984.89     8377308.52
2      38378                  73667            3429455.40    12906550.87
3      46820                  75768            1601448.84     9743794.36
4      66037                  43018            1395151.85    10259514.79

   total_profit
0   36579992.31
1    2201994.61
2    3271829.89
3    2736602.72
4    3255031.81

In [ ]:
# Format the data and rename the columns to names suitable for presentation.
def convert_to_millions(howard_df, columns):
    # Copy the DataFrame to avoid modifying the original DataFrame
    howard_df_copy = howard_df.copy()
    
    # Convert specified columns to millions
    for col in columns:
        howard_df_copy[col] = howard_df_copy[col] / 1_000_000
    
    return howard_df_copy  # Return the modified DataFrame

# Function to format money columns as millions
def currency_to_millions(value):
    return f'${value:.2f}M'

# Creating the DataFrame from the provided HTML table data
data = {
    'Client ID': [33615, 66037, 46820, 38378, 24741],
    'Units': [64313, 43018, 75768, 73667, 239862],
    'Shipping (millions)': [1.828985, 1.395152, 1.601449, 3.429455, 5.126448],
    'Total Revenue (millions)': [8.377309, 10.259515, 9.743794, 12.906551, 82.268892],
    'Total Cost (millions)': [6.175314, 7.004483, 7.007192, 9.634721, 45.688900],
    'Total Profit (millions)': [2.201995, 3.255032, 2.736603, 3.271830, 36.579992]
}

howard_df = pd.DataFrame(data)

# Define the money columns
money_columns = [
    'Shipping (millions)',
    'Total Revenue (millions)',
    'Total Cost (millions)',
    'Total Profit (millions)'
]

# Apply the convert_to_millions function to the money columns
howard_df = convert_to_millions(howard_df, money_columns)

# Apply the currency_format_millions function to only the money columns
formatted_df = howard_df.copy()  
formatted_df[['Shipping (millions)', 'Total Revenue (millions)', 'Total Cost (millions)', 'Total Profit (millions)']] = formatted_df[['Shipping (millions)', 'Total Revenue (millions)', 'Total Cost (millions)', 'Total Profit (millions)']].applymap(currency_format_millions)

# Display the formatted DataFrame
formatted_df.head()

# # Rename the columns to reflect the change in the money format
formatted_df = formatted_df.rename(columns={
    'Shipping (millions)': 'Total Shipping Price (millions)',
    'Total Revenue (millions)': 'Total Revenue (millions)',
    'Total Cost (millions)': 'Total Cost (millions)',
    'Total Profit (millions)': 'Total Profit (millions)'
})

In [ ]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.

data = {
    'Client ID': [24741, 38378, 66037, 46820, 33615],
    'Units': [239862, 73667, 43018, 75768, 64313],
    'Shipping (millions)': [5.126448, 3.429455, 1.395152, 1.601449, 1.828985],
    'Total Revenue (millions)': [82.268892, 12.906551, 10.259515, 9.743794, 8.377309],
    'Total Cost (millions)': [45.688900, 9.634721, 7.004483, 7.007192, 6.175314],
    'Total Profit (millions)': [36.579992, 3.271830, 3.255032, 2.736603, 2.201995]
}

final_client_df = pd.DataFrame(data)

# Sort the DataFrame by "Total Profit (millions)" from highest to lowest
sorted_df = final_client_df.sort_values(by='Total Profit (millions)', ascending=False)

# Display the sorted DataFrame
print("Sorted DataFrame:")
print(sorted_df)

Sorted DataFrame:
   Client ID   Units  Shipping (millions)  Total Revenue (millions)  \
0      24741  239862             5.126448                 82.268892
1      38378   73667             3.429455                 12.906551
2      66037   43018             1.395152                 10.259515
3      46820   75768             1.601449                  9.743794
4      33615   64313             1.828985                  8.377309

   Total Cost (millions)  Total Profit (millions)
0              45.688900                36.579992
1               9.634721                 3.271830
2               7.004483                 3.255032
3               7.007192                 2.736603
4               6.175314                 2.201995

In [ ]:
# Brief Summary and Analysis
The final sorted DataFrame presents data sorted by client ID, revealing key metrics including units sold, shipping costs,
total revenue, total cost, and total profit in millions. Client ID 24741 notably stands out with the highest units
sold and significant total profit. However, other clients exhibit varying levels of performance across these metrics.
While higher units sold generally align with increased total revenue and profit, some clients demonstrate comparatively lower revenue despite substantial units sold.